body {
	font-family: 'Open Sans', sans-serif;
}

h1 {
	font-weight: 800;
}

h2 {
	font-weight: 300;
}

h3 {
	font-style: italic;
	font-weight: normal;
	margin-top: 0;
	text-align: center;
}

.vote {
	display: inline-block;
	vertical-align: top;
}

.card {
	background-image: url('/img/card.jpg');
	background-repeat: none;
	background-size: 100%;
	border: 2px solid #fff;
	box-sizing: border-box;
	color: #000;
	display: inline-block;
	font-size: 32px;
	font-weight: 800;
	height: 250px;
	padding-top: 97px;
	text-align: center;
	text-decoration: none;
	width: 160px;
}

.card.selected {
	border: 2px solid #000;
}
